.layout__left {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.layout__right {
	flex-direction: column;
	gap: 20px;
	display: none;
	margin-right: 10px;
}

.layout {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
}
.wrapper {
	display: flex;
	max-width: 1020px;
	margin: 0 auto;
	width: 100%;
}

@media screen and (min-width: 960px) {
	.layout__right {
		display: flex;
	}
}
