.trending__container {
	padding: 0 24px 0 24px;
	width: 100%;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.trending__wrapper {
	margin: 0 auto;
	height: 208px;
	max-width: 1020px;
	padding: 0 16px;
}

.trending__heading {
	font-weight: 500;
	font-size: var(--font-size-s);
	color: #1a1a1a;
}

.trending__posts {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 11px;
}

@media screen and (min-width: 480px) {
	.trending__posts {
		min-width: 375px;
	}
}
